{% extends "OhGoogleMapFormTypeBundle:Form:google_maps.html.twig" %}

{% block oh_google_maps_html %}
    <div id="{{ id }}_container">
        <div class="input-group col-md-6">
            <input type="text" id="{{ id }}_input" class="form-control" placeholder="Введите адрес для поиска..."/>
            <span class="input-group-btn">
                <button id="{{ id }}_search_button" class="btn btn-primary">Найти</button>
            </span>
        </div>
        <a href="#" id="{{ id }}_current_position">Использовать текущее местоположение</a>
        <div id="{{ id }}_map_canvas" class="gmap" style="width: {{ map_width }}px; height: {{ map_height }}px"></div>
        <div id="{{ id }}_error"></div>
    </div>
{% endblock %}